.title-Cart {
  font-weight: 300;
  text-align: center;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.topLinks-Cart{
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
  display: flex;
  gap: 25px;
}

.container-Cart {
  display: flex;
  justify-content: space-between;
}

.containerProduct-Cart {
  display: flex;
  justify-content: space-between;
}

.product-Detail {
  flex: 2;
  display: flex;
}

.img-Cart {
  width: 200px;
}

.info-Product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price-Detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerAmount-Cart {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-Amount {
  font-size: 24px;
  margin: 5px;
}

.product-Price {
  font-size: 30px;
  font-weight: 200;
}

.hr-Cart{
  background-color: #eee;
  border: none;
  height: 1px;
}

.container-Summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 38vh;
  margin-bottom: 50px;
}

.button-Bottom {
  width: 80% !important;
  margin-left: 40px !important;
  padding: 10px !important;
  background-color: black !important;
  color: white !important;
  font-weight: 600 !important;
}
