.main-Register{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://media.gq.com.mx/photos/65b40907092d12ff5bff2124/16:9/w_2560%2Cc_limit/Nike_Dunk_Low_Brazil.jpg")
        center;
    background-size: inherit ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-Register{
    width: 40%;
    padding: 20px;
    background-color: white;
}

h1{
    font-size: 24px;
    font-weight: 300; 
}

form{
    display: flex;
    flex-wrap: wrap;
}

input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

span{
    font-size: 12px;
    margin: 20px 0px;
}

button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}