.back-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.img-Pr {
    width: 75%;
    height: 75%;
    object-fit: cover;
    max-width: 300px; /* Tamaño máximo */
    max-height: 300px; /* Tamaño máximo */
    z-index: 2;
  }
  
.icon-Pr{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
}

.icon-Pr:hover{
    background-color: #e9f5f5;
    transform: scale(1.5);
}